#this is a valid configuration file
#The following variables don’t have default values and must be set 
spImagesDirectory = ./images/test1/
spImagesPrefix= pref 
spImagesSuffix = .png
spNumOfImages = 12
#the following variables have default values, if not set the default value is choosen 
spPCADimension = 13
spPCAFilename = testPca.name 
spNumOfFeatures = 40
#spExtractionMode = true
spExtractionMode = false
spMinimalGUI = true
spNumOfSimilarImages = 5 
spLoggerFilename = stdout
#spKDTreeSplitMethod = INCREMENTAL